@model List<PetFeast.Models.ShoppingCart.ShoppingCartItem>


<div class="container mt-4">
    <form asp-action="CheckOut" 
    asp-controller="Order"
          method="post">
        <div class="row">
            <!-- BÊN TRÁI -->
            <div class="col-lg-8">
                <!-- Thông tin khách hàng -->
                <div class="card border-0 shadow-sm p-4 mb-4">
                    <h4 class="fw-bold mb-4">
                        Thông tin khách hàng
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <input class="form-control"
                                   name="CustomerName"
                                   placeholder="Tên khách hàng *"
                                   required />
                        </div>
                        <div class="col-md-6">
                            <input class="form-control"
                                   name="Phone"
                                   placeholder="Số điện thoại *"
                                   required />
                        </div>
                    </div>
                </div>
                <!-- Hình thức nhận hàng -->
                <div class="card border-0 shadow-sm p-4 mb-4">
                    <h4 class="fw-bold mb-4">
                        Hình thức nhận hàng
                    </h4>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               name="DeliveryMethod"
                               value="Ship"
                               checked>
                        <label class="form-check-label">
                            Giao hàng tận nơi
                        </label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input"
                               type="radio"
                               name="DeliveryMethod"
                               value="Pickup">
                        <label class="form-check-label">
                            Nhận tại cửa hàng
                        </label>
                    </div>
                    <div id="shippingAddress" class="mt-4">

                        <input type="hidden"
                               name="city"
                               id="cityName" />

                        <div class="row">

                            <div class="col-md-6">

                                <select id="province"
                                        class="form-select">

                                    <option value="">
                                        Chọn Tỉnh/Thành phố
                                    </option>

                                </select>

                            </div>

                            <div class="col-md-6">

                                <select id="ward"
                                        name="ward"
                                        class="form-select">

                                    <option value="">
                                        Chọn Quận/Huyện
                                    </option>

                                </select>

                            </div>

                        </div>
                        <textarea class="form-control mt-3"
                                  placeholder="Số nhà, tên đường..."
                                  name="Address"></textarea>

                    </div>
                    <div id="storeInfo"
                         class="store-info-card mt-4 d-none">

                        <div class="store-icon">
                            <i class="bi bi-shop"></i>
                        </div>

                        <div>

                            <h5 class="fw-bold mb-2">
                                Nhận tại cửa hàng PetFeast
                            </h5>

                            <p class="mb-2">
                                <i class="bi bi-geo-alt-fill text-danger"></i>
                                123 Đường Whatever, TP Đà Lạt, Lâm Đồng
                            </p>

                            <p class="mb-0">
                                <i class="bi bi-clock-fill text-warning"></i>
                                08:00 - 21:00 (Tất cả các ngày)
                            </p>

                        </div>

                    </div>
                </div>
                <!-- Sản phẩm -->
                <div class="card border-0 shadow-sm p-4 mb-4">
                    <h4 class="fw-bold mb-4">
                        Sản phẩm (@Model.Count)
                    </h4>
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th>Số lượng</th>
                                <th>Thành tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="@item.ImageUrl"
                                                 width="70"
                                                 height="70"
                                                 style="object-fit:cover"
                                                 class="me-3 rounded" />
                                            <span>
                                                @item.ProductName
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        @item.Price.ToString("N0") đ
                                    </td>
                                    <td>
                                        x @item.Quantity
                                    </td>
                                    <td class="text-danger fw-bold">
                                        @item.TotalPrice.ToString("N0") đ
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- Thanh toán -->
                <div class="card border-0 shadow-sm p-4 mb-4">
                    <h4 class="fw-bold mb-4">
                        Phương thức thanh toán
                    </h4>
                    <div class="form-check">
                        <input class="form-check-input"
                               type="radio"
                               name="PaymentMethod"
                               value="COD"
                               checked>
                        <label class="form-check-label">
                            Thanh toán khi nhận hàng (COD)
                        </label>
                    </div>
                </div>
            </div>
            <!-- BÊN PHẢI -->
            <div class="col-lg-4">
                <!-- Ghi chú -->
                <div class="card border-0 shadow-sm p-4 mb-3">
                    <h5 class="fw-bold mb-3">
                        Ghi chú đơn hàng
                    </h5>
                    <textarea class="form-control"
                              rows="5"
                              placeholder="Thêm ghi chú (tuỳ chọn)"
                              name="Note"></textarea>
                </div>

                <!-- Chi tiết thanh toán -->
                <div class="card border-0 shadow-sm p-4">
                    <h4 class="fw-bold mb-4">
                        Chi tiết thanh toán
                    </h4>
                    <div class="d-flex justify-content-between mb-3">
                        <span>
                            Tổng tiền hàng
                        </span>
                        <span>
                            @(Model.Sum(x => x.TotalPrice).ToString("N0")) đ
                        </span>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <span>
                            Phí vận chuyển
                        </span>

                        <span id="shippingFee">
                            20.000 đ
                        </span>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between mb-4">
                        <strong>
                            Tổng tiền thanh toán
                        </strong>

                        <strong class="text-danger fs-4" id="totalPayment">
                            @((Model.Sum(x => x.TotalPrice) + 20000).ToString("N0")) đ
                        </strong>
                    </div>
                    <button type="submit"
                            class="btn btn-warning w-100 fw-bold">
                        Đặt hàng
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>

    const deliveryMethods =
        document.querySelectorAll(
            'input[name="DeliveryMethod"]'
        );

    const shippingAddress =
        document.getElementById(
            "shippingAddress"
        );

    const storeInfo =
        document.getElementById(
            "storeInfo"
        );

        function toggleDelivery()
    {
        const selected =
            document.querySelector(
                'input[name="DeliveryMethod"]:checked'
            ).value;

        const province =
            document.getElementById("province");

        const ward =
            document.getElementById("ward");

        const address =
            document.querySelector(
                'textarea[name="Address"]'
            );

        if(selected === "Ship")
        {
            shippingAddress.classList.remove("d-none");
            storeInfo.classList.add("d-none");

            province.required = true;
            ward.required = true;
            address.required = true;
        }
        else
        {
            shippingAddress.classList.add("d-none");
            storeInfo.classList.remove("d-none");

            province.required = false;
            ward.required = false;
            address.required = false;
        }
    }

    deliveryMethods.forEach(x =>
    {
        x.addEventListener(
            "change",
            toggleDelivery
        );
    });

    toggleDelivery();

//Province
    async function loadProvinces()
    {
        const response =
            await fetch(
                'https://provinces.open-api.vn/api/p/'
            );

        const provinces =
            await response.json();

        const provinceSelect =
            document.getElementById("province");

        provinces.forEach(p =>
        {
            provinceSelect.innerHTML +=
            `<option value="${p.code}">
                ${p.name}
            </option>`;
        });
    }

    loadProvinces();
        document
    .getElementById("province")
    .addEventListener("change", async function ()
    {
        const provinceCode =
            this.value;

        const provinceName =
            this.options[this.selectedIndex].text;

        document
            .getElementById("cityName")
            .value = provinceName;

        const response =
            await fetch(
                `https://provinces.open-api.vn/api/p/${provinceCode}?depth=2`
            );

        const data =
            await response.json();

        const wardSelect =
            document.getElementById("ward");

        wardSelect.innerHTML =
            '<option value="">Chọn Quận/Huyện</option>';

        data.districts.forEach(d =>
        {
            wardSelect.innerHTML +=
            `<option value="${d.name}">
                ${d.name}
            </option>`;
        });
    });

// Ship Fee
    const productTotal = @Model.Sum(x => x.TotalPrice);


    function updateTotal()
    {
        const delivery =
            document.querySelector(
                'input[name="DeliveryMethod"]:checked'
            ).value;


        let shipping = 0;


            if(delivery === "Ship")
    {
        if(productTotal >= 199000)
        {
            shipping = 0;
        }
        else
        {
            shipping = 20000;
        }
    }


        document.getElementById("shippingFee")
            .innerText =
            shipping.toLocaleString('vi-VN') + " đ";


        document.getElementById("totalPayment")
            .innerText =
            (productTotal + shipping)
            .toLocaleString('vi-VN') + " đ";
    }



    deliveryMethods.forEach(x =>
    {
        x.addEventListener(
            "change",
            updateTotal
        );
    });


    updateTotal();
</script>
