@model PetFeast.Models.Orders.Order


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row mt-4">


    <div class="col-md-4">


        <div class="card shadow border-0">


            <div class="card-header bg-dark text-white">

                <h5>
                    <i class="bi bi-person"></i>
                    Thông tin khách hàng
                </h5>

            </div>


            <div class="card-body">


                <p>
                    <b>Khách hàng:</b>
                    @Model.CustomerName
                </p>


                <p>
                    <b>SĐT:</b>
                    @Model.Phone
                </p>


                <p>
                    <b>Địa chỉ:</b>
                    @Model.Address
                </p>


                <p>
                    <b>Ngày đặt:</b>
                    @Model.OrderDate.ToString("dd/MM/yyyy")
                </p>


                <p>

                    <b>Trạng thái:</b>


                    <span class="badge bg-primary">

                        @Model.Status

                    </span>

                </p>


            </div>


        </div>


    </div>



    <div class="col-md-8">


        <div class="card shadow border-0">


            <div class="card-header bg-info text-white">

                <h5>

                    <i class="bi bi-cart"></i>

                    Chi tiết đơn hàng #@Model.OrderId

                </h5>


            </div>



            <div class="card-body">



                <table class="table product-table align-middle">


                    <thead>

                        <tr>

                            <th>Sản phẩm</th>

                            <th>Giá</th>

                            <th>Số lượng</th>

                            <th>Thành tiền</th>

                        </tr>

                    </thead>


                    <tbody>


                        @foreach (var item in Model.OrderDetails)
                        {

                            <tr>


                                <td>


                                    <div class="product-info">


                                        <img src="@item.Product?.ImageUrl"
                                             class="product-img">


                                        <div>

                                            <h6>

                                                @item.Product?.ProductName

                                            </h6>


                                            <small class="text-muted">

                                                Mã SP: @item.ProductId

                                            </small>


                                        </div>


                                    </div>


                                </td>



                                <td>

                                    <strong>

                                        @item.Price.ToString("N0") đ

                                    </strong>

                                </td>



                                <td>


                                    <span class="qty-box">

                                        @item.Quantity

                                    </span>


                                </td>



                                <td>


                                    <span class="money">


                                        @((item.Price * item.Quantity)
                                                                            .ToString("N0")) đ

                                </span>


                                </td>


                            </tr>


                                                }


                    </tbody>


                </table>



                <div class="text-end">


                    <h3 class="text-danger">


                        Tổng:

                        @Model.TotalAmount.ToString("N0") đ


                    </h3>


                </div>


            </div>


        </div>


    </div>


</div>